:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ======= Components ======= */

/* =======Header======= */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.contakt-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo-link {
  margin-right: 92px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

a.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: none;
  color: #212121;
}
.logo-accent {
  color: var(--accent-color);
}
.menu .link.current {
  color: var(--accent-color);
}
.menu-link {
  font-family: var(--main-font);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.office-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 50px;
}
.office-link:hover,
.office-link:focus {
  color: var(--accent-color);
}
.tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* =======End Header======= */

/* =======Hero======= */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  width: 696px;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  margin-top: 30px;
  padding: 10px, 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.nav-portfolio {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  color: var(--title-text-color);
}
.nav-portfolio:hover,
.nav-portfolio:focus {
  color: #ffffff;
  background: var(--accent-color);
}
/* =======End Hero======= */

.section-main-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* =======Features======= */

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.description {
  width: 270px;
  margin-top: 10px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* =======End Features======= */

/* =======Чем мы занимаемся======= */

.work {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
  margin-top: -30px;
}
/* .work-item:not(:last-child) {
  margin-right: 30px;
} */
.work-item {
  margin-left: 30px;
  margin-top: 30px;
}

/* =======Team======= */
.section-team {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-item {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.activity {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* =======End Team======= */

/* =======Footer======= */
.section-footer {
  background-color: #2f303a;
}

a .adress-list {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-link.link.footer {
  color: #ffffff;
}
.contakt {
  color: rgba(255, 255, 255, 0.6);
}
.adress-link:focus,
.adress-link:hover {
  color: var(--accent-color);
}
.contakt:hover,
.contakt:focus {
  color: var(--accent-color);
}
.adress .link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* =======End Footer======= */
